.box-container {
    background-color: rgb(66, 66, 66);
    width: 600px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:35px;
    padding: 25px;
}

.box {
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(47, 47, 47);
    box-shadow: -1px -1px 10px rgb(47, 47, 47);
    box-sizing:border-box;
}

